@model IEnumerable<crmUrbano.Models.Catalogo>


@{
    ViewData["Title"] = "Carrito";
}
<body>
    <div class = "container">
<h1 class="text-center">DETALLE INMUEBLES</h1>
<hr size="5px" width="10%" align="center" color="#000000"/>
<center><img src="~/img/urbanito2.jpg"  class="d-block" style="width: px; height:600px"></center> 
<hr/>
<h2>POR FAVOR, DEBE INICIAR SESION ANTES DE AGREGAR UN INMUEBLE</h2>
</div>
    </body>