@{
    ViewData["Title"] = "Carrito";
}
<body>

   <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/jquery.easing/jquery.easing.min.js"></script>
    <script src="/js/site.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/site.js?v=kiomgqYW2VDSehqhKuh0EW7qq2fYklauFIbQW6OojRI"></script>
  </body>