@model IEnumerable<crmUrbano.Models.Catalogo>


@{
    ViewData["Title"] = "MetodoPago";
}
<body>
   <div class = "container">
<h1 class="text-center">METODO DE PAGO</h1>
<hr size="5px" width="10%" align="center" color="#000000"/>

<form >    
  
 
     <h4>Seleccione un metodo de pago:</h4>
     <div class = container>
        
        <div class="container">              
         <label for="comp-name"> 
          <input  type="checkbox" name = "PagoContado" value="first_checkbox" onchange= "window.location.replace('/PagoContado/PagoContado')" > Pago al Contado</label>
         <br>
                  
         <label for="comp-name"> 
         <input  type="checkbox" name = "PagoPlazos" value="first_checkbox" onchange= "window.location.replace('/PagoPlazos/PagoPlazos')"> Pago a Plazos</label>
        
                     
          
          <hr size="5px" width="7%"  color="#fffff"/>
          <a href="/Carrito/Index" class="btn btn-primary text-white"  aling = "">Volver </a> 
          </div>
</form>
</div>
</body>