
<section id="catalogue" class="biografia section-bg">
<div class="container">
        <div class="section-title">

            <center><img src="~/img/urbanito2.jpg"  class="d-block" style="width: px; height:600px"></center> 
          <div class="card">
            <div class="card-body">

            <h1 class="titulos" align="center" style="color:#ffffff;">Venta Finalizada - Se le Enviara todo por Correo</h1>
            <hr  size="35px" width="50%" align="center" color="#ffffff"/> 
             </div>
          
        </div>    